{% extends 'app_settings/app_settings.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'product_page/product_page.css' %}">

{% endblock %}


{% block content %}
    <h1>Сторінка товарів</h1>
    <div class="product_page">
        
        
        <div class="product">
            <p>
                <img height="250px" width="300px" src="{% static 'product_page/img/macbook1.webp' %}" alt="img">
            </p>
            <h2 class="image-list">MacBook Air - 1500 USD</h2>
        </div>
        
        <div class="product">
            <p>
                <img height="250px" width="300px" src="{% static 'product_page/img/iphone1.webp' %}" alt="img">
            </p>
            <h2 class="image-list">IPhone 14 - 1000 USD</h2>
        </div>
        
        <div class="product">
            <p>
                <img height="250px" width="300px" src="{% static 'product_page/img/airpods2.webp' %}" alt="img">
            </p>
            <h2 class="image-list">Airpods - 300 USD</h2>
        </div>
        
        <div class="product">
            <p>
                <img height="250px" width="300px" src="{% static 'product_page/img/airpods1.webp' %}" alt="img">
            </p>
            <h2 class="image-list">Aipods - 300 USD</h2>
        </div>
        
        <div class="product" id="last">
            <p>
                <img height="250px" width="300px" src="{% static 'product_page/img/macbook2.webp' %}" alt="img">
            </p>
            <h2 class="image-list">MacBook2 - 1000 USD</h2>
        </div>
{% endblock %}