{% extends 'app_settings/app_settings.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'product_page/product_page.css' %}">
    <script src="{% static 'product_page/product.js' %}" defer></script>
{% endblock %}


{% block content %}
    <h1>Сторінка товарів</h1>
    <h2>Apple Iphone</h2>
    <div class="card-grid">
        <div class="card" data-id="01">
            <p>
                <img class="product-img" src="{% static 'product_page/img/iphone15promax.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Iphone 15 Pro Max</h3>\
            <hr>
            <h3 class="product-price">67 194 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>

        <div class="card" data-id="02">
            <p>
                <img class="product-img" src="{% static 'product_page/img/iphone14promax.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Iphone 14 Pro Max</h3>\
            <hr>
            <h3 class="product-price">45 599 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>

        <div class="card" data-id="03">
            <p>
                <img class="product-img" src="{% static 'product_page/img/iphone13.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Iphone 13</h3>\
            <hr>
            <h3 class="product-price">26 799 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>

        <div class="card" data-id="04">
            <p>
                <img class="product-img" src="{% static 'product_page/img/iphone14.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Iphone 14</h3>\
            <hr>
            <h3 class="product-price">30 599 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>

        <div class="card" data-id="05">
            <p>
                <img class="product-img" src="{% static 'product_page/img/iphone11.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Iphone 11</h3>\
            <hr>
            <h3 class="product-price">21 299 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>

        <div class="card" data-id="06">
            <p>
                <img class="product-img" src="{% static 'product_page/img/iphone12.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Iphone 12</h3>\
            <hr>
            <h3 class="product-price">25 717 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
    </div>
    <h2>Apple Ipad</h2>
    <div class="card-grid">
        <div class="card" data-id="07">
            <p>
                <img class="product-img" src="{% static 'product_page/img/ipad1.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Ipad 10.2 64GB</h3>\
            <hr>
            <h3 class="product-price">13 699 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="08">
            <p>
                <img class="product-img" src="{% static 'product_page/img/ipad_air.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Ipad Air 256GB</h3>\
            <hr>
            <h3 class="product-price">27 599 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="09">
            <p>
                <img class="product-img" src="{% static 'product_page/img/ipad_pro.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Ipad Pro 128 GB</h3>\
            <hr>
            <h3 class="product-price">37 199 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="10">
            <p>
                <img class="product-img" src="{% static 'product_page/img/ipad2.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Ipad 10.9 64GB</h3>\
            <hr>
            <h3 class="product-price">21 799 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="11">
            <p>
                <img class="product-img" src="{% static 'product_page/img/ipad3.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Ipad 10.9 256GB</h3>\
            <hr>
            <h3 class="product-price">29 499 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="12">
            <p>
                <img class="product-img" src="{% static 'product_page/img/ipad_pro2.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Ipad Pro 2TB</h3>\
            <hr>
            <h3 class="product-price">78 067 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
    </div> 
    <h2>Apple MacBook</h2>
    <div class="card-grid"> 
        <div class="card" data-id="13">
            <p>
                <img class="product-img" src="{% static 'product_page/img/macbook_air13.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">MacBook Air 13 256GB</h3>\
            <hr>
            <h3 class="product-price">39 899 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="14">
            <p>
                <img class="product-img" src="{% static 'product_page/img/macbook_pro16.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">MacBook Pro 16 512GB</h3>\
            <hr>
            <h3 class="product-price">94 999 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="15">
            <p>
                <img class="product-img" src="{% static 'product_page/img/macbook_pro13.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">MacBook Pro 13 256GB</h3>\
            <hr>
            <h3 class="product-price">53 599 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="16">
            <p>
                <img class="product-img" src="{% static 'product_page/img/macmini.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Apple Mac Mini 256GB</h3>
            <br>
            <hr>
            <h3 class="product-price">24 792 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="17">
            <p>
                <img class="product-img" src="{% static 'product_page/img/macbook_air15.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">MacBook Air 15 1TB</h3>\
            <hr>
            <h3 class="product-price">86 141 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
                
        <div class="card" data-id="18">
            <p>
                <img class="product-img" src="{% static 'product_page/img/imac24.jpg.webp' %}" alt="">
            </p>
            <h3 class="card-title">Apple IMac 24 512GB</h3>\
            <hr>
            <h3 class="product-price">106 158 грн</h3>
            <button class="add-to-cart">Добавить в корзину</button>
        </div>
    </div>
    
{% endblock %}