h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#all{
    text-align: center;
}

#text{
    /* display: block; */
    
    margin-left: 500px;
    margin-right: 500px;
    font-size: 30px;
    background-color: #141414;
    color: #fff;
    border-radius: 24px 24px;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.txt{
    font-family: monac;
    padding: 20px;
}

#us{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ff7700;
    -webkit-text-stroke: 1px black;
}

#contact{
    columns: 100px 2;
    column-gap: 30px;
    padding: 20px;
    background-color: #141414;
    border-radius: 24px 24px;
    font-size: 30px;
    margin-left: 500px;
    margin-right: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 1000px;
    margin: 0 auto;
}

#contact p{
    color: #fff;
    font-family: Comic Sans MS, Comic Sans, cursive;
}