.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px; /* Пространство между карточками */
}


.add-to-cart {
display: flex;
align-items: flex-end;
justify-content: center;
padding: 5px;
background-color: red;
color: white;
width: 100%;
opacity: 0;
transform: translateY(20px);
transition: opacity 0.3s, transform 0.3s;
border: 0px;
border-radius: 5px;
}

.card:hover {
transform: scale(1.05);
}

.card:hover .add-to-cart {
opacity: 1;
transform: translateY(0);
}

.add-to-cart:hover {
    background-color: orangered;
}
  

.card {
    width: calc(16.6667% - 20px); /* Чтобы каждая карточка занимала 25% ширины с отступом */
    background: #303030;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;   
}

.product-img {
    width: 100%; /* Растянуть изображение на всю ширину карточки */
    text-align: center; /* Чтобы изображение было по центру карточки */
}



hr {
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 50px;
}

#footer {
    position: absolute;
    bottom: -1200px;
}