{% extends 'app_settings/app_settings.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'app_settings/app_settings.css' %}">
<link rel="stylesheet" href="{% static 'registration.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
  <h1>Реестрацiя</h1>
  <form action="#" method="post">
    <div class="registration">
      {% csrf_token %}
      <div class="registration__login input">
        <input tabindex="1" class="input" type="text" placeholder="login" required name="login">
      </div>
      <div class="registration__username input">
        <input tabindex="2" class="input" type="text" placeholder="username" required name="username">
      </div>
      <div class="registration__password input">
        <input tabindex="3" class="input" type="password" placeholder="Пароль" required name="password">
      </div>
      <div class="registration__confirmpassword input">
        <input tabindex="4" class="input" type="password" placeholder="Підтвердження паролю" required name="confirm_password">
      </div>
      <div class="button-wrapp">
        <button class="button">Зареєструватися</button>
      </div>
    </div>

  {% if error %}
  <p>{{error}}</p>
  {% endif %}
</form>
</div>

  {% endblock %}