{% extends 'app_settings/app_settings.html' %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'contact_page/contact_page.css'%}">
{% endblock %}


{% block content %}
    <div id="all">
        <div>
            <h1>Вітаємо Вас, клієнте!</h1>
        </div>
        <div id="text">
            <div class="txt">Ви можете зв'язатися з нами, щоб вирішити будь-які питання, отримати першокласну консультацію, поділитись вашими враженнями від покупки та озвучити на різноманітні пропозиції для розгляду.            </div>
            <div class="txt">Ваша думка для нас є дуже важливою, бо ми піклуємось про якісне надання послуг та Ваш комфорт.</div>
            <div class="txt">Маєте зауваження або хочете залишити скаргу? Готові до діалогу, розгляду ситуації та надання варіантів її вирішення!</div>
            <div class="txt">Готові покращувати наші послуги кожен день для Вас!</div>
        </div>
        <p id="us">З'вяжіться з нами:</p>
        <div id="contact">
            <p>Телефонні контакти:</p>
            <p>+380989754588 Данило, +380952034319 Олексій, +380985981032 Віталій, +390993676896 Ольга</p>
            <p>Електронна пошта:</p>
            <p>danilgubarev9804@gmail.com Данило, marshalgames666@gmail.com Олексій, fedenkovitalya3010@gmail.com Віталій, bachyrinaolya94@gmail.com Ольга</p>
        </div>
    </div>
{% endblock %}