{% extends 'app_settings/app_settings.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'authorization_registration/registration.css' %}">
{% endblock %}


{% block content %}
<h1>Авторизація</h1>
<div class="registration" >
    <div class="input">
        <h3>Login:</h3>
        <input type="text">
    </div>
<!--  -->
    <div class="input">
        <h3>Password:</h3>
        <input type="number">
    </div>

    <button>Submit</button>
</div>

{% endblock %}